@import '../../variables.scss';

header {
  height: $headerHeight;
  background: linear-gradient(to left, cornflowerblue, blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100vw;
}
input {
  all: unset;
  background: transparent;
  color: white;
  border-bottom: 1px solid white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
