// @import '../../variables.scss';

.showLists {
  background: linear-gradient(to bottom, grey, #999);
  min-height: calc(100vh - 100px);
  // height: $headerHeight;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
